body {
    background-color: #f0f1f2 ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4rem;
 
}

h1 {
    margin: 0;
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
}

.article-text, .top{
    width: 55%;
    text-align: justify;
    line-height: 1.6;
    margin: auto;
    
}

#forfatter{
    color:orange;
    text-decoration: none;
    font-weight: bold;
    
}

html{
    scroll-behavior: smooth;
}

.wrapper{

    max-width: 100%;
    padding: 5%;
    margin: 0 auto;
    position: relative;

}

.secondBody {

    padding: 10%;
    line-height: 1.4
}


